<h3><a href="/admin/grapes/new">New</a></h3>

{{#each grapes}}
  <h4><a href="/admin/grapes/{{this._id}}">{{this.name}}</a></h4>
  <p>Type: {{this.type}}</p>
  <p>Pairings: {{this.pairings}}</p>
  <p><img src={{this.image}} alt="Image" height="100px" width="100px"/></p>
  <p>Description: {{this.description}}</p>
{{/each}}
